use Mix.Config

config :s2t_bot, S2tBot.Endpoint,
  secret_key_base: "S8q08/yJggzjv2XLNhfg1wwP7WeV6e0rBtcLnUCTCW8HhU2Q+4T+2bY7dSdtGTGS"

config :s2t_bot,
  google_speech_api_secret: "",
  telegram_api_secret: ""